body {
    background-color: #bdbdb1;
    color: #2d1f72;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
    font-style: italic
}